html{
    font-size: 15px;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "Nunito sans", sans-serif;
}


#name-title{
    display: inline;
    margin-left: 15px;
}

#main-info{
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#main-info .section{
    
    flex-grow: 1;
    flex-shrink: 1;
}

#contact{
    font-size: smaller;
    margin-right: 15px;
    float: right;
    display: inline;
}


#summary{
    position: relative;
    background-color: #c7ccb1;
    margin-bottom: 20px;
    border: none;
    display: flex;
    }

#summary img{
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
}

#summary-info{
    display: flex;
    flex-direction: column;
}

#education{
    height: 100%;
    width: 47%;
}

#heriot-watt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#hw-date{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 1000;
}

#education img{
   
}

#experience{
    width: 47%;
    height: 100%;
}

#skills{
    height: 100%;
    width: 47%;
}

#certifications{
    width: 47%;
}

#personal-projects{
    width: 100%;

}

.section{
    text-align:justify;
    padding: 6px;
    border: 5px double black;
}

footer{
    float: inline-end;
}

@media (max-width: 1049px) and (min-width: 695px) {

    html{
        
    }
    
}

@media (max-width: 694px) {

    html{

    }
    
}