html{
    font-size: 15px;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

h1{
    font-size: 80px;

}
#name-title{
    display: inline;
    margin-left: 15px;
    
}

#main-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4fr 1fr 1fr;
    
}   

#main-info .section{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    color: #081c15;
}

ul{
    text-align: justify;
}

#contact-button{
    font-size: smaller;
    margin-right: 15px;
    height: 2;
    float: right;
    display: inline;
    border-radius: 5px;
    margin: 5px;
    background-color: #c7ccb1;
}

#contact-button img{
    width: 30px;
}

#summary{
    background-color: #081c15;
    color: #d8f3dc;
    display: flex;
    
    }

#summary img{
    padding-right: 10px;
    float: left;
    
}

#summary-info{
    
}


#education{
    height: 100%;
    background-color: #d8f3dc;
    
}

#heriot-watt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#leonardo{
    display: flex;
    align-items: center;
}

#leonardo p{
    float: left;
    margin-left: 20px;
}

#hw-date{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 1000;
}

#education img{

    width: 200px;
    border-radius: 5px;
}

#contact-button a{
    color:#575757;
}

#leonardo img{
    float: left;
    width: 300px;
    border-radius: 5px;
}

#experience{

    height: 100%;
    background-color: 	#a3b18a;
}

#experience a{
    color: #081c15;
}

#skills{
    height: 100%;
    background-color: 	#a3b18a;
}

#certifications{
    background-color: #d8f3dc;
}

#personal-projects{
    width: 100%;
    grid-column: 1 / 3;
    background-color: #081c15;
    color: #d8f3dc;
}

.projects{
    color: #a3b18a;
}

.projects a{
    color: #a3b18a;
}

.section{
    
}

footer{
    float: inline-end;
}

@media (max-width: 1049px) and (min-width: 695px) {

    html{
        
    }
    
}

@media (max-width: 694px) {

    html{

    }
    
}